.taskCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem; 
    padding: 1rem; 
    border-radius: 0.25rem; 
    border: 1px solid rgb(155, 155, 155); 
    margin: 0.25rem 0rem 0.25rem 0rem;
    background-color: rgb(238, 255, 249);
    transition: background-color 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.taskCard:hover {
    background-color: rgb(194, 251, 255);
}

.taskDate {
    font-size: small; 
    color: blue;
}

.taskTitle {
    font-weight: 500;
}

.deleteButton {
    border: none;
    outline: none;
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: rgb(211, 40, 40);
    border-radius: 0.25rem;
    color: white;
    transition: transform 50ms cubic-bezier(0.6,0,0.4,1);
}

.deleteButton:hover {
    background-color: rgb(240, 65, 65);
}

.deleteButton:active {
    background-color: rgb(172, 41, 41);
    transform: scale(1.05);
}