.heroes {
    margin-left: -1 rem;
    display: flex;
    flex-direction: column;
}

.listItem {
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(156, 214, 236);
    width: 8rem;
    padding: 0.2rem;
    border-radius: 1rem;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), width 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.listItem:hover {
    transform: scale(1.4);
    width: 15rem;
    background-color: aqua;
    cursor: pointer;
}

.badge {
    background-color: rgb(16, 170, 119);
    padding: 0.4rem;
    border-radius: 100%;
    color: rgb(255, 255, 255);
}